html, body {
    position: relative;
    height: 100%;
}
 a,button,input {
 	-webkit-tap-highlight-color: rgba(255,0,0,0);
 }

body {
    background: #f3f3f3;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 0.65rem;
    color:#000;
    margin: 0;
    padding: 0;
}
.swiper-container {
    width: 100%;
    height: 100%;
    
}
.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}
.header{
	width: 100%;
	height: 2rem;
	background: #477be1;
	line-height: 2rem;
	vertical-align: middle;
	display: flex;
	position: fixed;
	top: 0;
	z-index: 1;
}
.header a{
	margin: 0 0.7rem;
}
.header_tools img{
	width: 1rem;
	height: 1rem;
	vertical-align: middle;
}
.xcfl{
	flex: 1;
	padding-top: 0.4rem;
}
.xcfl img{
	display: block;
	width: 6.4rem;
	height: 1.3rem;
	margin: 0 auto;
}
.header_bottom{
	height: 11.3rem;
	background: #477be1;
	padding-top: 1.7rem;
	position: relative;
	margin-bottom: 0.3rem;
	margin-top: 2rem;
}
.header_bottom div .t_login{
	display: block;
	width: 3rem;
	height: 3rem;
	margin: 0 auto;
	border-radius: 50%;
	background: #FFFFFF;
	text-align: center;
	line-height: 3rem;
	color: #98a7dc;
	border: 1px solid #98a7dc;
}
.header_bottom p{
	text-align: center;
	margin-top: 1rem;
	line-height: 1.2rem;
	color: #FFFFFF;
	padding: 0 2rem;
}
.appzx{
	width: 100%;
	height: 1.6rem;
	background: rgba(0,0,0,0.2);
	position: absolute;
	bottom: 0;
	line-height: 1.6rem;
	text-align: center;
}
.appzx a{
	color: #7b90d9;
}
.smtools{
	margin-top: 0.1rem;
	display: flex;
}
.smtools a{
	display: block;
	flex: 1;
	height: 2.5rem;
	background: #FFFFFF;
	margin-bottom: 0.1rem;
	padding-top: 1rem;
	padding-left: 0.6rem;
}
.smtools >a:link{
	color:#1b1b1b;
}
.smtools> a:visited{
	color:#1b1b1b;
}
.smtoolsa,.smtoolsb{
	margin-right: 0.3rem;
}
.smtools a img{
	width: 1.3rem;
	height: 1.2rem;
	float: left;
	margin-right: 0.8rem;
}
.edjh{
	width: 1.2rem !important;
	height: 1.2rem !important;
}
.smtools a div{
	float: left;
}
.smtools a div p{
	margin-top: 0.4rem;
	color: #aeacac;
}

.banner {
	width: 100%;
	height:6.47rem;
	z-index: 0;
}
.swiper-pagination-bullet{
	width: 0.3rem !important;
	height: 0.3rem !important;
}

.footer_top{
	height: 3rem;
}
.footer{
	width: 100%;
	height: 2.3rem;
	border-top: 1px solid #f7f8fc;
	border-bottom: 1px solid #f7f8fc;
	background: #FFFFFF;
	position: fixed;
	bottom: 0;
}
.footer ul{
	display: flex;
}
.footer ul li{
	flex: 1;
	text-align: center;
	padding-top: 0.3rem;
}
.footer ul li a{
	color: #f5757e;
}.footer ul li a img{
	width: 1rem;
	height: 0.8rem;
}
.footer ul li a p{
	margin-top: 0.1rem;
}
#sidebar{
	position: fixed;
	top: 30%;
	right: -1.2rem;
}
#sidebar img{
	width: 2.2rem;
	height: 2.6rem;
}
#sidebar:hover{
	right:0px;
	transition: 1s;
}
