body{
	background: #e6ebef;
}
 a,button,input {
 	-webkit-tap-highlight-color: rgba(255,0,0,0);
 }

header{
	width: 100%;
	height: 1.6rem;
	background: #FFFFFF;
	padding: 0.4rem 0.7rem 0;
	line-height: 1.1rem;
	display: flex;
	position: fixed;
	top: 0;
	z-index: 1;
}
header input{
	/*width: 12.6rem;*/
	height: 1.1rem;
	background: #e9eef1;
	border: none;
	text-indent: 0.3rem;
	color: #afafb0;
	flex: 6;
	font-size: 0.6rem;
}
header button{
	flex: 1;
	text-align: center;
	border: none;
	background: none;
	height: 1.1rem;
	font-size: 0.6rem;
}
.resou{
	height: 2.7rem;
	margin-top: 0.2rem;
	background: #FFFFFF;
	line-height: 2.7rem;
	padding: 0 0.7rem;
	margin-top: 2rem;
}
.resou span,.zjrs span{
	font-weight: bold;
	margin-right: 0.3rem;
}
.resou a{
	padding: 0.3rem 0.4rem;
	border: 1px solid #dfe1df;
	color: #b1afaf;
}
.zjrs{
	margin-top: 0.6rem;
	height: 2rem;
	background: #FFFFFF;
	line-height: 2rem;
	padding: 0 0.7rem;
	border-bottom: 2px solid #f9fbfb;
}
.zjrs img{
	width: 0.6rem;
	height: 0.8rem;
	vertical-align: middle;
}
.sshistory{
	height: 17rem;
	background: #FFFFFF;
}
.sshistory p{
	text-align: center;
	color: #dde2e4;
	line-height: 3rem;
	font-size: 1rem;
}
