* {
  margin: 0;
  padding: 0;
  list-style: none;
  outline: none;
  font-family: "微软雅黑";
}
a {
  text-decoration: none;
}
#top {
  width: 100%;
  height: 2rem;
  background: #457ecd;
  color: #fff;
  font-size: 0.8rem;
  line-height: 2rem;
  text-align: center;
  position: fixed;
  top: 0;
}
.return {
  display: block;
  height: 0.95rem;
  width: 2.25rem;
  float: left;
  margin-top: 0.5rem;
  margin-left: 0.5rem;
  font-size: 0.65rem;
  line-height: 0.95rem;
  color: #fff;
}
.return img {
  display: block;
  height: 0.95rem;
  width: 0.55rem;
  float: left;
  margin-right: 0.3rem;
}
.returnr {
  display: block;
  height: 0.95rem;
  width: 2.25rem;
  float: right;
  margin-top: 0.5rem;
  margin-right: 0.5rem;
}
#banner {
  width: 100%;
  height: 7.8rem;
  background: #457ecd;
  border-bottom: 0.1rem solid #2b6ab7;
  color: #fff;
  margin-top: 2rem;
}
#banner img {
  width: 3.65rem;
  height: 3.75rem;
  margin: 0 auto;
  padding-top: 0.8rem;
  display: block;
}
#banner p {
  font-size: 0.8rem;
  text-align: center;
  margin-top: 0.95rem;
  height: 0.8rem;
  line-height: 0.8rem;
}
#banner div {
  width: 9.5rem;
  margin: 0 auto;
  font-size: 0.5rem;
  text-align: center;
  margin-top: 0.55rem;
  height: 0.5rem;
  line-height: 0.5rem;
}
#banner div a {
  padding: 0 0.4rem;
}
#content {
  width: 100%;
}
.process b {
  margin-top: 1.2rem;
  color: #3f5ba4;
  font-size: 0.75rem;
  height: 0.75rem;
  line-height: 0.75rem;
  text-align: center;
  display: block;
  letter-spacing: 0.025rem;
}
.process img {
  width: 100%;
  display: block;
  margin-top: 1.3rem;
}
.condition b:nth-child(1) {
  margin-top: 1.2rem;
  color: #3f5ba4;
  font-size: 0.75rem;
  height: 0.75rem;
  line-height: 0.75rem;
  text-align: center;
  display: block;
  letter-spacing: 0.025rem;
}
.condition img:nth-child(2) {
  width: 6.15rem;
  height: 2.75rem;
  display: block;
  margin: 0 auto;
  margin-top: 2rem;
}
.condition b:nth-child(3) {
  margin-top: 1rem;
  color: #7d7d7d;
  font-size: 0.55rem;
  height: 0.55rem;
  line-height: 0.55rem;
  text-align: center;
  display: block;
  letter-spacing: 0.025rem;
}
.condition p:nth-child(4) {
  font-size: 0.5rem;
  height: 0.5rem;
  line-height: 0.5rem;
  text-align: center;
  display: block;
  color: #afafaf;
  margin: 0 auto;
  margin-top: 0.3rem;
  letter-spacing: 0.025rem;
}
.condition img:nth-child(5) {
  width: 6.15rem;
  height: 4rem;
  display: block;
  margin: 0 auto;
  margin-top: 1.5rem;
}
.condition b:nth-child(6) {
  margin-top: 0.7rem;
  color: #747474;
  font-size: 0.55rem;
  height: 0.55rem;
  line-height: 0.55rem;
  text-align: center;
  display: block;
  letter-spacing: 0.025rem;
}
.condition img:nth-child(7) {
  width: 6.15rem;
  height: 2.6rem;
  display: block;
  margin: 0 auto;
  margin-top: 2.25rem;
}
.condition b:nth-child(8) {
  width: 11rem;
  color: #7c7c7c;
  font-size: 0.55rem;
  height: 1.5rem;
  line-height: 0.75rem;
  text-align: center;
  display: block;
  margin: 0 auto;
  margin-top: 0.75rem;
  margin-bottom: 4.5rem;
  letter-spacing: 0.03rem;
}
#foot {
  width: 100%;
  height: 2rem;
  text-align: center;
  line-height: 2rem;
  position: fixed;
  bottom: 0;
  color: #fff;
  font-size: 0.75rem;
  background: #457ecd;
  border-top: 0.1rem solid #2b6ab7;
}
/*# sourceMappingURL=contract.css.map */
